.home {
  padding: 20px;
}

.layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

/* Sidebar */

.sidebar {
  width: 260px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  background: white;
}

.filter-block {
  margin-bottom: 16px;
}

.filter-block label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

/* Select (бренд) */

.filter-block select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Цена */

.price-inputs {
  display: flex;
  gap: 10px;
}

.price-inputs input {
  width: 105px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Кнопка */

.sidebar button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #f3f3f3;
}

/* Special Deal */

.special-deal {
  margin-top: 20px;
  padding: 16px;
  border-radius: 12px;
  background: #111;
  color: white;
  text-align: center;
}

/* Правая часть */

.content {
  flex: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}